@import "tailwindcss";

@theme {
  --color-primary: #4bac87;
  --color-secondary: #f2f1ee;
  --color-dark-green: #222e29;
  --color-light-gray: #737a77;
  --color-lighter-gray: #d8d7d3;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --tracking-2: 5px;
  --font-size-base: 14px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f1ee;
    --foreground: #4bac87;
    --primary: #4bac87;
    --dark-green: #318565;
    --darker-green: #222e29;
    --secondary: #cccccc;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: var(--font-size-base);
}

.after-image::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/humanfrog.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  vertical-align: middle;
}
